.red-text {
    color: red !important;
}
#content{
    color: black !important;

}
.navbar-nav{
    background-image: url(/static/image/herobanner.png) !important;
}

.container-img{
    padding-left: 10%;
    padding-bottom: 20px;
    text-align: center;
}

.center-content{
    padding-left: 20%;
}